/*--- Sizes ---*/
$header-height: 50px;

/*--- Fonts ---*/
$font-body: 'Work Sans', 'Helvetica Neue', sans-serif;
$font-heading: 'Josefin Sans', 'Helvetica Neue', sans-serif;
$font-special: 'Fredericka The Great', 'Helvetica Neue', sans-serif;

/*--- Colors ---*/
$color-text: #333;
$color-text-nav: white;
$color-text-link: #3265ff;
$color-primary: #3265ff;
$color-primary-dark: #3053a9;
$color-secondary: #a6a6a6;
$color-secondary-dark: #666666;

/*--- Z-Index ---*/
$z-index-base: 1000;
$z-index-overlay: 2000;
