@import '~bulma/bulma.sass';
@import './fonts';
@import './variables';

body {
	font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.section {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.icon {
	margin: 0 0.5rem;
}

.is-blinking {
	animation: blinker 2s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
