@import '../../styles/variables';

.route-selector {
    background-color: rgba(31, 31, 31, 85%);
    
    .select,
    .select select {
        width: 100%;
    }
}

.route-display {
    padding-top: 2rem;
}
