@import '../../styles/variables';

.section__selector {
    background-color: rgba(31, 31, 31, 85%);
    
    .select,
    .select select {
        width: 100%;
    }
}

.section__tabs {
    padding-bottom: 0;
}

.section__selector .select {
    margin-bottom: 1rem;
}

.departure__time {
    display: flex;
    justify-content: flex-end;
}

